# Ignore virtual environment
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs and database files
*.log
*.sqlite3

# IDE settings
.vscode/
.idea/
*.swp

# Python package build artifacts
build/
dist/
*.egg-info/

# Cache files
.cache/
*.pyc

# Environment files
.env
*.env
